<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Out</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Check Out</h1>
        <form method="POST" action="{% url 'check_out' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Check Out</button>
        </form>
    </div>
</body>
</html>